SUPABASE_URL=https://ehjnkcvozjdlscuqfqzb.supabase.co
SUPABASE_SERVICE_ROLE_KEY=isi_dari_dashboard_supabase_project_settings_api
R2_ACCOUNT_ID=de3a2284f3713e2aa0e7ca9e4de1f17c
R2_ACCESS_KEY_ID=isi_dari_notepad_anda
R2_SECRET_ACCESS_KEY=isi_dari_notepad_anda
R2_BUCKET=dwifoss-images
R2_PUBLIC_BASE=https://pub-6c6bdb44140c425b838c5e00e38edd01.r2.dev
